<h1>Download your gif:</h1>
<div class="gif-result">
  <img src="<%= @gif_path %>">
  <h4><%= @gif_title %></h4>
  <a class="download" href="<%= @gif_path %>" download="<%= @gif_title %>">Download</a>
</div>