<h1>Upload a video:</h1>
<form id="video-uploader" method="post" action="/upload" enctype="multipart/form-data">
  <input type="file" name="video">
  <label>Start Time (seconds)</label>
  <input type="number" name="start-time">
  <label>End Time (seconds)</label>
  <input type="number" name="end-time">
  <input type="submit" value="Upload!">
</form>