<!doctype html>
<html>
<head>
  <title>Groundhog Gif Converter</title>
  <script type="text/javascript" src="javascripts/vendor/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="javascripts/formValidator.js"></script>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>