@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
body {
  background-color: #eceef1;
  font-size: 16px;
  font-family: "Montserrat", Helvetica, Sans-Serif;
  color: #272722; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1em; }

input {
  display: block;
  margin: 0.25em 0 1em; }

a {
  text-decoration: none; }

video {
  margin-bottom: 2em; }

progress {
  display: block;
  margin: 0 auto; }

.container {
  -webkit-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.25);
  -moz-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.25);
  box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.25);
  width: 60%;
  margin: 2em auto;
  padding: 2em;
  border-radius: 2.5px;
  border-top: 0.5em solid #3498db;
  background-color: white;
  text-align: center; }

input[type=submit], .download {
  display: inline-block;
  padding: 0.5em;
  border: none;
  border-radius: 2.5px;
  background-color: #2ecc71;
  font-size: 1.2em;
  color: white; }
  input[type=submit]:hover, .download:hover {
    -webkit-transition: background-color 0.25s ease;
    -moz-transition: background-color 0.25s ease;
    -ms-transition: background-color 0.25s ease;
    -o-transition: background-color 0.25s ease;
    transition: background-color 0.25s ease;
    background-color: #40d47e; }

.controls label {
  display: block; }
.controls input {
  display: inline-block; }
