@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

@mixin shadowy(){
  -webkit-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.25);
  -moz-box-shadow:    0px 2px 4px 0px rgba(50, 50, 50, 0.25);
  box-shadow:         0px 2px 4px 0px rgba(50, 50, 50, 0.25);
}

// Colors
$background-main-color: #ECEEF1;
$background-accent-color: #3498DB;
$standout-block-color: #FFFFFF;
$text-main-color: #272722;
$text-secondary-color: #ECF0F1;
$action-color: #2ECC71;

// Fonts
$text-main-font: "Montserrat", Helvetica, Sans-Serif;

// Base Rules:
body {
  background-color: $background-main-color;
  font-size: 16px;
  font-family: $text-main-font;
  color: $text-main-color;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1em;
}

input {
  display: block;
  margin: 0.25em 0 1em;
}

a {
  text-decoration: none;
}

video {
  margin-bottom: 2em;
}

progress {
  margin: 0 2em;
}

// Layout Rules:
.container {
  @include shadowy;
  width: 60%;
  margin: 2em auto;
  padding: 2em;
  border-radius: 2.5px;
  border-top: 0.5em solid $background-accent-color;
  background-color: $standout-block-color;
  text-align: center;
}

// Module Rules:
input[type=submit]{
  display: inline-block;
  background-color: $action-color;
  border: none;
  border-radius: 2.5px;
  color: white;
}

.controls {
  label {
    display: block;
  }
  input {
    display: inline-block
  }
}
